packages/dl
packages/x86/buildroot/.*
packages/x86/ffritz/*.md
packages/x86/ffritz/ffimage*
packages/x86/ffritz/*/
release*/
arm/.*
arm/filesystem.image
arm/orig/
arm/squashfs-root/
atom/.*
atom/filesystem.image
atom/orig/
atom/squashfs-root/
tmp/
var/

